<HTML>
    <HEAD>
        <TITLE></TITLE>
        ...
    </HEAD>

    <BODY background="batman.jpg">
        <font face="Comic Sans MS,arial,verdana" font color="#90EEDD" 
Font size =" 5">
        <center> 
       
            <h1> como soy? </h1>
            <br>Soy Betzy Dayanara Cifuentes López, tengo 16 años de edad. 

-Actualmente curso el grado de 5to BACO. Espero alcanzar mi meta la cual es graduarme con todos mis compañeros con los cuales estoy cursando en este momento la carrera. Soy una srta tolerante, paciente, aplicada y responsable en todo aspecto de mi vida, me gusta ser participativa y ayudar a los demás estoy confiando en mi "DIOS SUPREMO"	para que él sea qién me guíe para lograr alcanzar mis metas y mis objetivos.
        
        <img src="descarga.jpg"> 
         <img src="foto1.jpg"> 
         <img src="images.jpg"> 
         <img src="images (1).jpg"> 
        <img src="images (2).jpg"> 
         </imag>
        </font>
         </center>
    </BODY>
</HTML>